*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 450px;
    margin: 5px auto;
    padding: 30px 40px;
    /* background:white; */
    /* text-align: center; */
    background: rgb(2,0,36);
    background: linear-gradient(317deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 47%, rgba(0,212,255,1) 100%); 
}

.header{
    text-align: center;
    height: 160px;
}

#name{
    font-size: 30px;
    color: cyan;
    background: black;
    padding: 15px;
    border: 1px solid cyan;
    margin-bottom: 15px;
}

#play-pause-button{
    background: cyan;
    /* width: 80px; */
    padding: 4px;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    /* letter-spacing: 5px; */
}
#play-pause-button:hover{
    cursor: pointer;
    background: rgb(87, 177, 177);
}

#gameover-prompt{
    color: red;
    width: 80%;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 3px;
    margin: 10px auto 0px auto;
    display:none;
}
.main{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.main-container{
    
    width: 202px;
    height: 402px;
    display: flex;
    flex-wrap: wrap;
    background: black;
    overflow: hidden;
    border: 1px solid cyan;

}

.main-container div, .display-next div{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(46, 45, 45);
}

.l-color{
    background-color: red;
}

.z-color{
    background-color:rgb(52, 188, 241);
}

.t-color{
    background-color:rgba(33, 245, 33, 0.959);
}

.o-color{
    background-color: rgb(248, 0, 194);
}

.i-color{
    background-color:yellow ;
}

.display-next{
    width: 102px;
    height: 102px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid cyan;
    background: black;
    /* margin-left: 50px; */
}

#display-next-title{
    color: cyan;
    background: black;
    padding: 10px;
    text-align: center;
    border: 1px solid cyan;
}

#score{
    margin-top: 10px;
    padding: 10px;
    background: black;
    border: 1px solid cyan;
    line-height: 40px;
    color: cyan;
}

#score span{
    background: cyan;
    display: block;
    color: black;
    width: 100%;
    text-align: right;
    padding: 5px;
}